# ignored Folders
*.suo
*.sln
*.csproj
*.userprefs

# Others
-*.meta
Library
Temp
*/obj/Debug

# created binaries
Target

# temp Blender files but not Blender files themselves
*.blend*
!*.blend
!*.blend.meta

# VS Code is neat, but not everyone is using it
.vscode/
