# ignored Folders
*.suo
*.sln
*.csproj
*.userprefs

# Others
-*.meta
Library
Temp
*/obj/Debug

# created binaries
Target

# temp Blender files but not Blender files themself
*.blend*
!*.blend
!*.blend.meta

# VS Code is neat, but we not everyone uses it
.vscode/
